<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ConstructionManagement.system.mapper.AmElevatorParamPartMapper">
  <resultMap id="BaseResultMap" type="com.ConstructionManagement.system.domain.AmElevatorParamPart">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="elevator_id" jdbcType="BIGINT" property="elevatorId" />
    <result column="part_type" jdbcType="VARCHAR" property="partType" />
    <result column="part_name" jdbcType="VARCHAR" property="partName" />
    <result column="part_model" jdbcType="VARCHAR" property="partModel" />
    <result column="part_count" jdbcType="INTEGER" property="partCount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, elevator_id, part_type, part_name, part_model, part_count
  </sql>
  <select id="selectByPid" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from am_elevator_param_part
    where elevator_id = #{elevatorId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPid" parameterType="java.lang.Long">
    delete from am_elevator_param_part
    where elevator_id = #{elevatorId,jdbcType=BIGINT}
  </delete>

  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ConstructionManagement.system.domain.AmElevatorParamPart" useGeneratedKeys="true">
    insert into am_elevator_param_part
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="elevatorId != null">
        elevator_id,
      </if>
      <if test="partType != null">
        part_type,
      </if>
      <if test="partName != null">
        part_name,
      </if>
      <if test="partModel != null">
        part_model,
      </if>
      <if test="partCount != null">
        part_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="elevatorId != null">
        #{elevatorId,jdbcType=BIGINT},
      </if>
      <if test="partType != null">
        #{partType,jdbcType=VARCHAR},
      </if>
      <if test="partName != null">
        #{partName,jdbcType=VARCHAR},
      </if>
      <if test="partModel != null">
        #{partModel,jdbcType=VARCHAR},
      </if>
      <if test="partCount != null">
        #{partCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>
