<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ConstructionManagement.system.mapper.AmElevatorParamPartMapper">
  <resultMap id="BaseResultMap" type="com.ConstructionManagement.system.domain.AmElevatorParamPart">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="elevator_id" jdbcType="BIGINT" property="elevatorId" />
    <result column="part_id" jdbcType="BIGINT" property="part_id" />
    <result column="part_count" jdbcType="INTEGER" property="partCount" />
    <association property="amPartParam" javaType="com.ConstructionManagement.system.domain.AmPartParam">
      <id column="id" jdbcType="BIGINT" property="id" />
      <result column="part_name" jdbcType="VARCHAR" property="partName" />
      <result column="part_code" jdbcType="VARCHAR" property="partCode" />
      <result column="part_model" jdbcType="VARCHAR" property="partModel" />
      <result column="measurement_unit" jdbcType="VARCHAR" property="measurementUnit" />
      <result column="applicable_device_type" jdbcType="VARCHAR" property="applicableDeviceType" />
      <result column="remark" jdbcType="VARCHAR" property="remark" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, elevator_id, part_id, part_count
  </sql>
  <select id="selectByPid" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select aep.*,app.*
    from am_elevator_param_part aep,am_part_param app
    where aep.part_id = app.id and elevator_id = #{elevatorId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPid" parameterType="java.lang.Long">
    delete from am_elevator_param_part
    where elevator_id = #{elevatorId,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ConstructionManagement.system.domain.AmElevatorParamPart" useGeneratedKeys="true">
    insert into am_elevator_param_part
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="elevatorId != null">
        elevator_id,
      </if>
      <if test="part_id != null">
        part_id,
      </if>
      <if test="partCount != null">
        part_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="elevatorId != null">
        #{elevatorId,jdbcType=BIGINT},
      </if>
      <if test="part_id != null">
        #{part_id,jdbcType=BIGINT},
      </if>
      <if test="partCount != null">
        #{partCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>
