<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ConstructionManagement.system.mapper.AmEquipmentRequireMapper">
  <resultMap id="BaseResultMap" type="com.ConstructionManagement.system.domain.AmEquipmentRequire">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="vender" jdbcType="VARCHAR" property="vender" />
    <result column="equipment_number" jdbcType="VARCHAR" property="equipmentNumber" />
    <result column="equipment_name" jdbcType="VARCHAR" property="equipmentName" />
    <result column="standard_model" jdbcType="VARCHAR" property="standardModel" />
    <result column="equipment_type" jdbcType="VARCHAR" property="equipmentType" />
    <result column="equipment_count" jdbcType="BIGINT" property="equipmentCount" />
    <result column="rights_unit" jdbcType="VARCHAR" property="rightsUnit" />
    <result column="belong_warehouse" jdbcType="VARCHAR" property="belongWarehouse" />
    <result column="project_address" jdbcType="VARCHAR" property="projectAddress" />
    <result column="project_date" jdbcType="TIMESTAMP" property="projectDate" />
    <result column="init_date" jdbcType="TIMESTAMP" property="initDate" />
    <result column="demand_sponsors" jdbcType="VARCHAR" property="demandSponsors" />
    <result column="procurement_causes" jdbcType="VARCHAR" property="procurementCauses" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="audit_advice" jdbcType="VARCHAR" property="auditAdvice" />
    <result column="insert_person" jdbcType="VARCHAR" property="insertPerson" />
    <result column="insert_person_depart_id" jdbcType="BIGINT" property="insertPersonDepartId" />
    <result column="update_person" jdbcType="VARCHAR" property="updatePerson" />
    <result column="update_person_depart_id" jdbcType="BIGINT" property="updatePersonDepartId" />
    <result column="insert_date" jdbcType="TIMESTAMP" property="insertDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="isBuy" jdbcType="INTEGER" property="isBuy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, vender, equipment_number, equipment_name, standard_model, equipment_type, equipment_count,
    rights_unit, belong_warehouse, project_address, project_date, init_date, demand_sponsors,
    procurement_causes, `state`, audit_advice,insert_person, insert_person_depart_id, update_person,
    update_person_depart_id, insert_date, update_date,isBuy
  </sql>
  <select id="selectBySelective" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from am_equipment_require
    <where>
      <if test="equipmentName != null">
        and   equipment_name like concat('%', #{equipmentName}, '%')
      </if>
      <if test="equipmentNumber != null">
        and   equipment_number like concat('%', #{equipmentNumber}, '%')
      </if>
      <if test="vender != null">
        and   vender like concat('%', #{vender}, '%')
      </if>
      <if test="equipmentType != null">
        and   equipment_type like concat('%', #{equipmentType}, '%')
      </if>
      <if test="rightsUnit != null">
        and   rights_unit like concat('%', #{rightsUnit}, '%')
      </if>
      <if test="belongWarehouse != null">
        and   belong_warehouse like concat('%', #{belongWarehouse}, '%')
      </if>
      <if test="projectAddress != null">
        and   project_address like concat('%', #{projectAddress}, '%')
      </if>
      <if test="projectDate != null">
        and   date_format(project_date,'%y%m%d') &gt;= date_format(#{projectDate},'%y%m%d')
      </if>
      <if test="initDate != null">
        and   date_format(init_date,'%y%m%d') &gt;= date_format(#{initDate},'%y%m%d')
      </if>
    </where>
  </select>

  <delete id="deleteByIds" parameterType="java.lang.Long">
    delete from am_equipment_require
    where id in
    <foreach collection="array" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ConstructionManagement.system.domain.AmEquipmentRequire" useGeneratedKeys="true">
    insert into am_equipment_require
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="vender != null">
        vender,
      </if>
      <if test="equipmentNumber != null">
        equipment_number,
      </if>
      <if test="equipmentName != null">
        equipment_name,
      </if>
      <if test="standardModel != null">
        standard_model,
      </if>
      <if test="equipmentType != null">
        equipment_type,
      </if>
      <if test="equipmentCount != null">
        equipment_count,
      </if>
      <if test="rightsUnit != null">
        rights_unit,
      </if>
      <if test="belongWarehouse != null">
        belong_warehouse,
      </if>
      <if test="projectAddress != null">
        project_address,
      </if>
      <if test="projectDate != null">
        project_date,
      </if>
      <if test="initDate != null">
        init_date,
      </if>
      <if test="demandSponsors != null">
        demand_sponsors,
      </if>
      <if test="procurementCauses != null">
        procurement_causes,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="auditAdvice != null">
        audit_advice,
      </if>
      <if test="insertPerson != null">
        insert_person,
      </if>
      <if test="insertPersonDepartId != null">
        insert_person_depart_id,
      </if>
      <if test="updatePerson != null">
        update_person,
      </if>
      <if test="updatePersonDepartId != null">
        update_person_depart_id,
      </if>
      <if test="insertDate != null">
        insert_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="vender != null">
        #{vender,jdbcType=VARCHAR},
      </if>
      <if test="equipmentNumber != null">
        #{equipmentNumber,jdbcType=VARCHAR},
      </if>
      <if test="equipmentName != null">
        #{equipmentName,jdbcType=VARCHAR},
      </if>
      <if test="standardModel != null">
        #{standardModel,jdbcType=VARCHAR},
      </if>
      <if test="equipmentType != null">
        #{equipmentType,jdbcType=VARCHAR},
      </if>
      <if test="equipmentCount != null">
        #{equipmentCount,jdbcType=BIGINT},
      </if>
      <if test="rightsUnit != null">
        #{rightsUnit,jdbcType=VARCHAR},
      </if>
      <if test="belongWarehouse != null">
        #{belongWarehouse,jdbcType=VARCHAR},
      </if>
      <if test="projectAddress != null">
        #{projectAddress,jdbcType=VARCHAR},
      </if>
      <if test="projectDate != null">
        #{projectDate,jdbcType=TIMESTAMP},
      </if>
      <if test="initDate != null">
        #{initDate,jdbcType=TIMESTAMP},
      </if>
      <if test="demandSponsors != null">
        #{demandSponsors,jdbcType=VARCHAR},
      </if>
      <if test="procurementCauses != null">
        #{procurementCauses,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="auditAdvice != null">
        #{auditAdvice,jdbcType=VARCHAR},
      </if>
      <if test="insertPerson != null">
        #{insertPerson,jdbcType=VARCHAR},
      </if>
      <if test="insertPersonDepartId != null">
        #{insertPersonDepartId,jdbcType=BIGINT},
      </if>
      <if test="updatePerson != null">
        #{updatePerson,jdbcType=VARCHAR},
      </if>
      <if test="updatePersonDepartId != null">
        #{updatePersonDepartId,jdbcType=BIGINT},
      </if>
      <if test="insertDate != null">
        #{insertDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ConstructionManagement.system.domain.AmEquipmentRequire">
    update am_equipment_require
    <set>
      <if test="vender != null">
        vender = #{vender,jdbcType=VARCHAR},
      </if>
      <if test="equipmentNumber != null">
        equipment_number = #{equipmentNumber,jdbcType=VARCHAR},
      </if>
      <if test="equipmentName != null">
        equipment_name = #{equipmentName,jdbcType=VARCHAR},
      </if>
      <if test="standardModel != null">
        standard_model = #{standardModel,jdbcType=VARCHAR},
      </if>
      <if test="equipmentType != null">
        equipment_type = #{equipmentType,jdbcType=VARCHAR},
      </if>
      <if test="equipmentCount != null">
        equipment_count = #{equipmentCount,jdbcType=BIGINT},
      </if>
      <if test="rightsUnit != null">
        rights_unit = #{rightsUnit,jdbcType=VARCHAR},
      </if>
      <if test="belongWarehouse != null">
        belong_warehouse = #{belongWarehouse,jdbcType=VARCHAR},
      </if>
      <if test="projectAddress != null">
        project_address = #{projectAddress,jdbcType=VARCHAR},
      </if>
      <if test="projectDate != null">
        project_date = #{projectDate,jdbcType=TIMESTAMP},
      </if>
      <if test="initDate != null">
        init_date = #{initDate,jdbcType=TIMESTAMP},
      </if>
      <if test="demandSponsors != null">
        demand_sponsors = #{demandSponsors,jdbcType=VARCHAR},
      </if>
      <if test="procurementCauses != null">
        procurement_causes = #{procurementCauses,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        `state` = #{state,jdbcType=INTEGER},
      </if>
      <if test="auditAdvice != null">
        audit_advice = #{auditAdvice,jdbcType=VARCHAR},
      </if>
      <if test="insertPerson != null">
        insert_person = #{insertPerson,jdbcType=VARCHAR},
      </if>
      <if test="insertPersonDepartId != null">
        insert_person_depart_id = #{insertPersonDepartId,jdbcType=BIGINT},
      </if>
      <if test="updatePerson != null">
        update_person = #{updatePerson,jdbcType=VARCHAR},
      </if>
      <if test="updatePersonDepartId != null">
        update_person_depart_id = #{updatePersonDepartId,jdbcType=BIGINT},
      </if>
      <if test="insertDate != null">
        insert_date = #{insertDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="isBuyIds" parameterType="java.lang.Long">
    update am_equipment_require set isBuy=1
    where id in
    <foreach collection="array" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </update>
</mapper>
