<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ConstructionManagement.system.mapper.AmPartRequireKitMapper">
  <resultMap id="BaseResultMap" type="com.ConstructionManagement.system.domain.AmPartRequireKit">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="part_require_id" jdbcType="BIGINT" property="partRequireId" />
    <result column="kit_model" jdbcType="VARCHAR" property="kitModel" />
    <result column="kit_name" jdbcType="VARCHAR" property="kitName" />
    <result column="kit_count" jdbcType="INTEGER" property="kitCount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, part_require_id, kit_model, kit_name, kit_count
  </sql>
  <select id="selectByPid" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from am_part_require_kit
    where part_require_id = #{partRequireId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPid" parameterType="java.lang.Long">
    delete from am_part_require_kit
    where part_require_id = #{partRequireId,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ConstructionManagement.system.domain.AmPartRequireKit" useGeneratedKeys="true">
    insert into am_part_require_kit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="partRequireId != null">
        part_require_id,
      </if>
      <if test="kitModel != null">
        kit_model,
      </if>
      <if test="kitName != null">
        kit_name,
      </if>
      <if test="kitCount != null">
        kit_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="partRequireId != null">
        #{partRequireId,jdbcType=BIGINT},
      </if>
      <if test="kitModel != null">
        #{kitModel,jdbcType=VARCHAR},
      </if>
      <if test="kitName != null">
        #{kitName,jdbcType=VARCHAR},
      </if>
      <if test="kitCount != null">
        #{kitCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>
