<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ConstructionManagement.system.mapper.AmPartRequireKitMapper">
  <resultMap id="BaseResultMap" type="com.ConstructionManagement.system.domain.AmPartRequireKit">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="part_require_id" jdbcType="BIGINT" property="partRequireId" />
    <result column="kit_id" jdbcType="BIGINT" property="kit_id" />
    <result column="kit_count" jdbcType="INTEGER" property="kitCount" />
    <association property="amKitParam" javaType="com.ConstructionManagement.system.domain.AmKitParam">
      <id column="id" jdbcType="BIGINT" property="id" />
      <result column="kit_name" jdbcType="VARCHAR" property="kitName" />
      <result column="kit_code" jdbcType="VARCHAR" property="kitCode" />
      <result column="kit_model" jdbcType="VARCHAR" property="kitModel" />
      <result column="technical_param" jdbcType="VARCHAR" property="technicalParam" />
      <result column="applicable_kit_type" jdbcType="VARCHAR" property="applicableKitType" />
      <result column="remark" jdbcType="VARCHAR" property="remark" />
      <result column="measurement_unit" jdbcType="VARCHAR" property="measurementUnit" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, part_require_id, kit_id, kit_count
  </sql>
  <select id="selectByPid" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select apr.*,akp.*
    from am_part_require_kit apr,am_kit_param akp
    where apr.kit_id = akp.id  and part_require_id = #{partRequireId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPid" parameterType="java.lang.Long">
    delete from am_part_require_kit
    where part_require_id = #{partRequireId,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ConstructionManagement.system.domain.AmPartRequireKit" useGeneratedKeys="true">
    insert into am_part_require_kit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="partRequireId != null">
        part_require_id,
      </if>
      <if test="kit_id != null">
        kit_id,
      </if>
      <if test="kitCount != null">
        kit_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="partRequireId != null">
        #{partRequireId,jdbcType=BIGINT},
      </if>
      <if test="kit_id != null">
        #{kit_id,jdbcType=BIGINT},
      </if>
      <if test="kitCount != null">
        #{kitCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>
