<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ConstructionManagement.system.mapper.AmTowerMachineParamPartMapper">
  <resultMap id="BaseResultMap" type="com.ConstructionManagement.system.domain.AmTowerMachineParamPart">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
    <result column="part_id" jdbcType="BIGINT" property="part_id" />
    <result column="part_count" jdbcType="INTEGER" property="partCount" />
    <association property="amPartParam" javaType="com.ConstructionManagement.system.domain.AmPartParam">
      <id column="id" jdbcType="BIGINT" property="id" />
      <result column="part_name" jdbcType="VARCHAR" property="partName" />
      <result column="part_code" jdbcType="VARCHAR" property="partCode" />
      <result column="part_type" jdbcType="VARCHAR" property="part_type" />
      <result column="part_model" jdbcType="VARCHAR" property="partModel" />
      <result column="measurement_unit" jdbcType="VARCHAR" property="measurementUnit" />
      <result column="applicable_device_type" jdbcType="VARCHAR" property="applicableDeviceType" />
      <result column="remark" jdbcType="VARCHAR" property="remark" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id,pid, part_id,
    part_count
  </sql>

  <delete id="deleteByPid" parameterType="java.lang.Long">
    delete from am_tower_machine_param_part
    where pid = #{pid,jdbcType=BIGINT}
  </delete>
  <select id="selectByPid" resultMap="BaseResultMap">
    select app.*,atm.* from am_tower_machine_param_part atm,am_part_param app where atm.part_id=app.id and  pid=#{pid}
  </select>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ConstructionManagement.system.domain.AmTowerMachineParamPart" useGeneratedKeys="true">
    insert into am_tower_machine_param_part
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>

      <if test="part_id != null">
        part_id,
      </if>
      <if test="partCount != null">
        part_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=BIGINT},
      </if>
      <if test="part_id != null">
        #{part_id,jdbcType=BIGINT},
      </if>
      <if test="partCount != null">
        #{partCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

</mapper>
