<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ConstructionManagement.system.mapper.StockOutRecordMapper">
    <resultMap id="BaseResultMap" type="com.ConstructionManagement.system.domain.StockOutRecord">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="model" jdbcType="VARCHAR" property="model" />
        <result column="amount" jdbcType="BIGINT" property="amount" />
        <result column="belong_warehouse" jdbcType="VARCHAR" property="belongWarehouse" />
        <result column="type_id" jdbcType="BIGINT" property="typeId" />
        <result column="pid" jdbcType="BIGINT" property="pid" />
        <result column="begindate" jdbcType="TIMESTAMP" property="begindate" />
        <result column="backdate" jdbcType="TIMESTAMP" property="backdate" />
    </resultMap>
    <sql id="Base_Column_List">
        id
        , `name`, `type`, model, amount, belong_warehouse, type_id, pid, begindate, backdate
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from stock_out_record
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectBySelective" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from stock_out_record
        <where>
            <if test="name != null">
                and `name` like concat('', #{name}, '%')
            </if>
            <if test="type != null">
                and `type` like concat('', #{type}, '%')
            </if>
            <if test="model != null">
                and model like concat('', #{model}, '%')
            </if>
            <if test="belongWarehouse != null">
                and belong_warehouse=#{belongWarehouse}
            </if>
        </where>

    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from stock_out_record
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByIds">
        delete
        from stock_out_record
        where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
        parameterType="com.ConstructionManagement.system.domain.StockOutRecord" useGeneratedKeys="true">
        insert into stock_out_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="model != null">
                model,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="belongWarehouse != null">
                belong_warehouse,
            </if>
            <if test="typeId != null">
                type_id,
            </if>
            <if test="pid != null">
                pid,
            </if>
            <if test="begindate != null">
                begindate,
            </if>
            <if test="backdate != null">
                backdate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="model != null">
                #{model,jdbcType=VARCHAR},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=BIGINT},
            </if>
            <if test="belongWarehouse != null">
                #{belongWarehouse,jdbcType=VARCHAR},
            </if>
            <if test="typeId != null">
                #{typeId,jdbcType=BIGINT},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=BIGINT},
            </if>
            <if test="begindate != null">
                #{begindate,jdbcType=TIMESTAMP},
            </if>
            <if test="backdate != null">
                #{backdate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ConstructionManagement.system.domain.StockOutRecord">
        update stock_out_record
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=INTEGER},
            </if>
            <if test="model != null">
                model = #{model,jdbcType=VARCHAR},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=BIGINT},
            </if>
            <if test="belongWarehouse != null">
                belong_warehouse = #{belongWarehouse,jdbcType=VARCHAR},
            </if>
            <if test="typeId != null">
                type_id = #{typeId,jdbcType=BIGINT},
            </if>
            <if test="pid != null">
                pid = #{pid,jdbcType=BIGINT},
            </if>
            <if test="begindate != null">
                begindate = #{begindate,jdbcType=TIMESTAMP},
            </if>
            <if test="backdate != null">
                backdate = #{backdate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
