<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.AmTowerMachineParamKitMapper">
  <resultMap id="BaseResultMap" type="com.ConstructionManagement.system.domain.AmTowerMachineParamKit">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="vender" jdbcType="VARCHAR" property="vender" />
    <result column="tower_machine_model" jdbcType="VARCHAR" property="towerMachineModel" />
    <result column="tower_machine_name" jdbcType="VARCHAR" property="towerMachineName" />
    <result column="kit_name" jdbcType="VARCHAR" property="kitName" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="kit_count" jdbcType="INTEGER" property="kitCount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, vender, tower_machine_model, tower_machine_name, kit_name, unit, kit_count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from am_tower_machine_param_kit
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from am_tower_machine_param_kit
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ConstructionManagement.system.domain.AmTowerMachineParamKit" useGeneratedKeys="true">
    insert into am_tower_machine_param_kit (vender, tower_machine_model, tower_machine_name, 
      kit_name, unit, kit_count
      )
    values (#{vender,jdbcType=VARCHAR}, #{towerMachineModel,jdbcType=VARCHAR}, #{towerMachineName,jdbcType=VARCHAR}, 
      #{kitName,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, #{kitCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ConstructionManagement.system.domain.AmTowerMachineParamKit" useGeneratedKeys="true">
    insert into am_tower_machine_param_kit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="vender != null">
        vender,
      </if>
      <if test="towerMachineModel != null">
        tower_machine_model,
      </if>
      <if test="towerMachineName != null">
        tower_machine_name,
      </if>
      <if test="kitName != null">
        kit_name,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="kitCount != null">
        kit_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="vender != null">
        #{vender,jdbcType=VARCHAR},
      </if>
      <if test="towerMachineModel != null">
        #{towerMachineModel,jdbcType=VARCHAR},
      </if>
      <if test="towerMachineName != null">
        #{towerMachineName,jdbcType=VARCHAR},
      </if>
      <if test="kitName != null">
        #{kitName,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="kitCount != null">
        #{kitCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ConstructionManagement.system.domain.AmTowerMachineParamKit">
    update am_tower_machine_param_kit
    <set>
      <if test="vender != null">
        vender = #{vender,jdbcType=VARCHAR},
      </if>
      <if test="towerMachineModel != null">
        tower_machine_model = #{towerMachineModel,jdbcType=VARCHAR},
      </if>
      <if test="towerMachineName != null">
        tower_machine_name = #{towerMachineName,jdbcType=VARCHAR},
      </if>
      <if test="kitName != null">
        kit_name = #{kitName,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="kitCount != null">
        kit_count = #{kitCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ConstructionManagement.system.domain.AmTowerMachineParamKit">
    update am_tower_machine_param_kit
    set vender = #{vender,jdbcType=VARCHAR},
      tower_machine_model = #{towerMachineModel,jdbcType=VARCHAR},
      tower_machine_name = #{towerMachineName,jdbcType=VARCHAR},
      kit_name = #{kitName,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      kit_count = #{kitCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>